extends layout

block content
	div#contentTab.nav.nav-tabs
		li.active
			a(href="#signin", data-toggle="tab") Signin
		li
			a(href="#manage", data-toggle="tab") Manage

	div.tab-content
		div.tab-pane.active#signin
			h1='Signin'
			div.input-group.input-group-lg.signinArea
				input.form-control#signinTextBox(type='text', placeholder='Name')
				span.input-group-btn
					button.btn.btn-default#signinBtn(type='button') Signin

		div.tab-pane#manage
			h1= 'User Management'
			h2 User List
			button#addUserBtn.btn.btn-primary(type="button" data-toggle="modal" data-target="#addUserModal") Add User
			table(width='100%')
				tr
					td(valign='top', width='50%')
						div#myGrid(style='width:600px;height:500px;')
	// ADD USER
	#addUserModal.modal.fade(role='dialog')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span.sr-only Close
					h4#addUserModalLabel.modal-title Add User
				.modal-body
					form.row(role='form')
						.form-group
							label(for='inputUsername') Username 
								input#input-Username.form-control(type='text', placeholder='Username')
						.form-group
							label(for='inputFullName') FullName 
								input#input-FullName.form-control(type='text', placeholder='Full Name')
						.form-group
							label(for='inputEmail') Email
								input#input-Email.form-control(type='email', placeholder='Email')
						.form-group
							label(for='inputAge') Age
								input#input-Age.form-control(type='age', placeholder='Age')
						.form-group
							label(for='inputLocation') Location
								input#input-Location.form-control(type='location', placeholder='Location')
						.form-group
							label(for='inputGender') Gender
								select#input-Gender.form-control
									option(value="Male") Male
									option(value="Female") Female
						button#formAddUserBtn.btn.btn-primary(type="button") Save Changes
						button.btn.btn-default(type="button", data-dismiss="modal") Close
