extends layout

block content
    a.pull-right(href="/logout") Logout
    div.tab-content
        div.tab-pane.active#signin
            h1='Signin'
            form#signinForm
                div.input-group.input-group-lg.signinArea
                    input.form-control#signinTextBox(type='text', placeholder='Name')
                    span.input-group-btn
                        input.btn.btn-default#signinBtn(type='submit', value="Signin")
