extends layout

block content
	div#contentTab.nav.nav-tabs
		li.active
			a(href="#signin", data-toggle="tab") Signin
		li
			a(href="#manage", data-toggle="tab") Manage

	div.tab-content
		div.tab-pane.active#signin
			h1='Signin'
			div.input-group.input-group-lg.signinArea
				input.form-control#signinTextBox(type='text', placeholder='Name')
				span.input-group-btn
					button.btn.btn-default#signinBtn(type='button') Signin

		div.tab-pane#manage
			h1= 'User Management'
				h2 User List
				button#addUserBtn.btn.btn-primary(type="button" data-toggle="modal" data-target="#addUserModal") Add User
				table(width='100%')
					tr
						td(valign='top', width='50%')
							div#myGrid(style='width:600px;height:500px;')

//				#userList
//					table
//						thead
//							th UserName
//							th FullName
//							th Email
//							th Location
//							th Age
//							th Gender
//							th Delete?
//							th Edit
//						tbody
//				// /USER LIST

				// ADD USER
				h2 Add User
				#addUser
					fieldset
						input#input-username(type='text', placeholder='Username')
						input#input-email(type='text', placeholder='Email')
						br
						input#input-fullname(type='text', placeholder='Full Name')
						input#input-age(type='text', placeholder='Age')
						br
						input#input-location(type='text', placeholder='Location')
						input#input-gender(type='text', placeholder='Gender')
						br
							button#btnAddUser Add User
				// /ADD USER
			// /WRAPPER