extends layout

block content
    div#contentTab.nav.nav-tabs
        li.active
            a(href="#signin", data-toggle="tab") Signin
        li
            a(href="#manage", data-toggle="tab") Manage

    div.tab-content
        div.tab-pane.active#signin
            h1='Signin'
            form#signinForm
                div.input-group.input-group-lg.signinArea
                    input.form-control#signinTextBox(type='text', placeholder='Name')
                    span.input-group-btn
                        input.btn.btn-default#signinBtn(type='submit', value="Signin")

        div.tab-pane#manage
            h1= 'User Management'
            h2 User List
            button#addUserBtn.btn.btn-primary(type="button" data-toggle="modal" data-target="#addUserModal") Add User
            br 
            br
            table(width='100%')
                tr
                    td(valign='top', width='50%')
                        div#myGrid
    // ADD USER
    #addUserModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span.sr-only Close
                    h4#addUserModalLabel.modal-title Add User
                .modal-body
                    form(role='form')
                        .form-group
                            label.fullWidth(for='input-firstname') First Name
                                input#input-firstname.form-control(type='text')
                        .form-group
                            label.fullWidth(for='input-lastname') Last Name
                                input#input-lastname.form-control(type='text')
                        .form-group
                            label.fullWidth(for='input-street') Street
                                input#input-street.form-control(type='text')
                        .form-group
                            label(for='input-city') City
                                input#input-city.form-control(type='text')
                            label(for='input-state') State
                                input#input-state.form-control(type='text', size='2', maxlength='2')
                            label(for='input-zip') Zip Code
                                input#input-zip.form-control(type='text', size='5', maxlength='5')
                        .form-group
                            label(for='input-gender') Gender
                                select#input-gender.form-control
                                    option(value='Male') Male
                                    option(value='Female') Female
                            label(for='input-dateOfBirth') Date Of Birth
                                input#input-dateOfBirth.form-control(type='text')
                            label(for='input-school') School
                                input#input-school.form-control(type='text')
                        button#formAddUserBtn.btn.btn-primary(type="button") Save Changes
                        button.btn.btn-default(type="button", data-dismiss="modal") Close
