extends layout

block content
	div#contentTab.nav.nav-tabs
		li.active
			a(href="#signin", data-toggle="tab") Signin
		li
			a(href="#manage", data-toggle="tab") Manage

	div.tab-content
		div.tab-pane.active#signin
			h1='Signin'
			div.input-group.input-group-lg.signinArea
				input.form-control#signinTextBox(type='text', placeholder='Name')
				span.input-group-btn
					button.btn.btn-default#signinBtn(type='button') Signin

		div.tab-pane#manage
			h1= 'User Management'
			h2 User List
			button#addUserBtn.btn.btn-primary(type="button" data-toggle="modal" data-target="#addUserModal") Add User
			table(width='100%')
				tr
					td(valign='top', width='50%')
						div#myGrid(style='width:600px;height:500px;')
	// ADD USER
	#addUserModal.modal.fade(role='dialog')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span.sr-only Close
					h4#addUserModalLabel.modal-title Add User
				.modal-body
					form.row(role='form')
						.form-group
							label(for='inputFirstName') First Name 
								input#input-firstName.form-control(type='text', placeholder='First Name')
							label(for='inputLastName') Last Name
								input#input-lastName.form-control(type='text', placeholder='Last Name')
						.form-group
							label(for='inputAddress') Address (Street, City, State)
								input#input-address.form-control(type='text', placeholder='Address (Street, City, State)')
							label(for='inputZip') Zip Code
								input#input-zip.form-control(type='text', placeholder='Zip Code')
						.form-group
							label(for='inputGender') Gender
								select#input-Gender.form-control
									option(value="Male") Male
									option(value="Female") Female
							label(for='inputDateOfBirth') Date Of Birth
								input#input-dateOfBirth.form-control(type='text', placeholder='Date Of Birth')
						.form-group
							label(for='inputSchool') School
								input#input-school.form-control(type='text', placeholder='School')
						.form-group
							label(for='inputParentName') Parent Name
								input#input-parentName.form-control(type='text', placeholder='Parent Name')
							label(for='inputParentPhone') Parent Phone
								input#input-parentPhone.form-control(type='text', placeholder='Parent Phone')
						button#formAddUserBtn.btn.btn-primary(type="button") Save Changes
						button.btn.btn-default(type="button", data-dismiss="modal") Close
