doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/javascripts/slickgrid/slick.grid.css')
        link(rel='stylesheet', href='/javascripts/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css')
        link(rel='stylesheet', href='/javascripts/datepicker/css/datepicker.css')
        link(rel='stylesheet', href='/javascripts/jquery-ui/jquery-ui.min.css')

    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/javascripts/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/jquery-ui/jquery-ui.min.js')
        script(src='/javascripts/jquery.event.drag-2.2.js')
        script(src='/javascripts/slickgrid/slick.core.js')
        script(src='/javascripts/slickgrid/slick.grid.js')
        script(src='/javascripts/datepicker/js/bootstrap-datepicker.js')
        script(src='/javascripts/jquery.masked.js')
        script(src='/javascripts/global.js')
