doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/javascripts/slickgrid/slick.grid.css')
        link(rel='stylesheet', href='/javascripts/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css')
        link(rel='stylesheet', href='/javascripts/datepicker/css/datepicker.css')
        link(rel='stylesheet', href='/javascripts/jquery-ui/jquery-ui.min.css')

    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
        script(src='/javascripts/jquery-ui/jquery-ui.min.js')
        script(src='/javascripts/jquery.event.drag-2.2.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
        script(src='/javascripts/slickgrid/slick.dataview.js')
        script(src='/javascripts/slickgrid/slick.core.js')
        script(src='/javascripts/slickgrid/slick.grid.js')
        script(src='/javascripts/slickgrid/plugins/slick.rowselectionmodel.js')
        script(src='/javascripts/datepicker/js/bootstrap-datepicker.js')
        script(src='/javascripts/numeric/numeric.js')
        script(src='/javascripts/jquery.masked.js')
        script(src='/javascripts/global.js')
